/*CSS*/

body{
    margin: auto 25%;
    background-color: chartreuse;
    
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#carta{
    display: none
}

div{
    margin: 5px 5px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px;
    border-color: blue;
    background-color: blue;
    float: left;
}


img{ float: right;}
/*
div:hover{
    background-color: black;
}
*/